# Flutter/Dart related files
**/build/
**/.dart_tool/
**/.packages
**/.flutter-plugins
**/.flutter-plugins-dependencies

# IDE specific files
**/.idea/
**/.vscode/

# Android related files
**/android/.gradle/
**/android/local.properties
**/android/key.properties
**/android/app/google-services.json  # Firebase config

# iOS related files
**/ios/Pods/
**/ios/.symlinks/
**/ios/.generated/
**/ios/Flutter/.last_build_id
**/ios/Flutter/Flutter.podspec
**/ios/Runner.xcworkspace/
**/ios/Runner.xcodeproj/project.xcworkspace/
**/ios/Runner.xcodeproj/xcuserdata/
**/ios/Runner.xcodeproj/xcshareddata/
**/ios/Flutter/ephemeral/
**/ios/Flutter/flutter_export_environment.sh

# Web related files
**/web/.dart_tool/
**/web/build/
**/web/.firebase/
**/web/generated_plugin_registrant.dart

# Debug, release, and lock files
*.log
*.lock
pubspec.lock
.buildlog/
.dart_tool_version

# Firebase and credentials
firebase.json
.env  # Environment files

# macOS specific files
**/.DS_Store

# Miscellaneous
**/.metadata
**/.gradle/
